name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17.0.15
      - name: Compile
        run: ./gradlew :compileKotlin
      - name: Test
        run: ./gradlew :test
